<div class="link-container">
  <label>
    {{@text}} Link
    <input disabled class="input-item" name="link" value={{@link}} />
  </label>
  <CopyButton
    class="button"
    @clipboardText={{@link}}
    @success={{action (mut isCopied)}}
  >
    {{if isCopied "Copied!" "Copy"}}
  </CopyButton>
</div>
