<div class="email-link-container">
  <label for={{@text}}>
    {{@text}}
    Link
  </label>
  <div class="copy-links">
    <input disabled class="input-item" name={{@text}} value={{@link}} />
    <CopyButton
      class="button"
      @clipboardText={{@link}}
      @success={{fn @onCopy @link}}
    >
      {{if this.isCopied "Copied!" "Copy"}}
    </CopyButton>
  </div>
</div>
